@import url('https://fonts.googleapis.com/css2? familia= Abierto+Sans:ital,peso@0,500;1,300 & display=swap');
/* texto del cuerpo*/
body {
    margin: 0;
    /*el ancho y largo de un elemento, que tenga en cuenta cada borde y relleno*/
    box-sizing: border-box;
}
/*Sobre todo*/
 * {
   /* Relleno de los cuatro lados*/
    padding: 0;
    /* margenes de los cuatro lados */
    margin: 0;
    /* Define el tipo de lista*/
    list-style: none;
    /* Calcula el ancho y largo de los elementos, especifica el valor de los bordes*/    
}
/* Default styles for the menu */
nav {
    background: #3845DB;
    height: 70px;
    width: 100%;
    position: fixed;
}

.enlace {
    position: absolute;
    padding: 10px 30px;
}

.logo {
    height: 45px;
}

nav a {
    color: black;
    font-size: 18px;
    padding: 7px;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

ul a.active,
ul a:hover {
    background-color: #DB860B;
    color: #F2F2F2;
    transition: .5s;
}

nav ul li {
    float: right;
    margin-right: 20px;
    line-height: 65px;
    margin: 0 5px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    nav {
        height: auto;
    }

    .enlace {
        position: static;
        padding: 10px 20px;
    }

    nav a {
        font-size: 16px;
        padding: 5px;
    }

    .container {
        margin-top: 70px; /* Adjust the top margin to accommodate the fixed navbar */
    }
}

@media screen and (max-width: 480px) {
    .logo {
        height: 30px;
    }

    .enlace {
        padding: 10px;
    }

    nav a {
        font-size: 14px;
        padding: 5px;
    }
}




/* Default styles for the tabs */
.container {
    max-width: 100%;
    margin: auto;
    margin-top: 0px;
}

.lbl-menu {
    background: #234;
}

.lbl-menu label {
    display: inline-block;
    padding: 20px;
    color: white;
    cursor: pointer;
    transition: all 400ms ease;
}

.lbl-menu label:hover {
    background: #97a5b2;
}

.content {
    position: relative;
}

.content div {
    position: absolute;
    line-height: 1.8;
    transition: all 600ms ease;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.90);
    padding: 30px;
    background: white;
    padding-bottom: 40px;
}

#radio1:checked~.tab1,
#radio2:checked~.tab2 {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    width: 97%;
}

a.raya {
    text-decoration: none;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .lbl-menu label {
        padding: 15px;
    }

    .content div {
        padding: 15px;
        padding-bottom: 30px;
    }

    .iframe-wrapper iframe {
        width: 100%;
        height: 250px; /* You can adjust the height as needed for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .lbl-menu label {
        padding: 10px;
    }

    .content div {
        padding: 10px;
        padding-bottom: 20px;
    }

    .iframe-wrapper iframe {
        width: 100%;
        height: 200px; /* You can adjust the height as needed for even smaller screens */
    }
}
