@import url('https://fonts.googleapis.com/css2? familia= Abierto+Sans:ital,peso@0,500;1,300 & display=swap');
/* texto del cuerpo*/
/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilos para el menú de navegación */
.contenedor {
    background-color: #333;
    padding: 10px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
    list-style-type: none;
}
li {
    margin-left: 20px;
}
a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
a.active {
    font-weight: bold;
}
.logo {
    height: 50px;
}

/* Estilos para la sección de actividades */
.container {
    padding: 20px;
}
.lbl-menu {
    display: flex;
    justify-content: center;
}
label {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
}
section {
    margin-top: 20px;
}
iframe {
    width: 100%;
}

/* Estilos para tabletas */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
        margin: 0 auto;
    }
    .lbl-menu {
        justify-content: space-between;
    }
}

/* Estilos para móviles */
@media (max-width: 767px) {
    ul {
        display: none;
        flex-direction: column;
        background-color: #555;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 0;
        z-index: 1;
    }
    li {
        margin: 0;
    }
    a {
        display: block;
        padding: 10px;
        color: white;
    }
    nav {
        position: relative;
    }
    #hamburguer {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 2;
        display: none;
    }
    #hamburguer span,
    #hamburguer span::before,
    #hamburguer span::after {
        display: block;
        background-color: white;
        height: 3px;
        width: 25px;
        border-radius: 3px;
    }
    #hamburguer span::before {
        content: "";
        margin-top: 7px;
    }
    #hamburguer span::after {
        content: "";
        margin-top: 7px;
    }
    #hamburguer.active {
        background-color: red;
    }
    #hamburguer.active span {
        background-color: transparent;
    }
    #hamburguer.active span::before {
        transform: rotate(45deg);
        margin-top: 0;
    }
    #hamburguer.active span::after {
        transform: rotate(-45deg);
        margin-top: 0;
    }
    #hamburguer.active+ul {
        display: flex;
    }
}