.secu{
    background-color: #B3DEE8;
}


* {
    /* Relleno de los cuatro lados*/
    padding: 0;
    /* margenes de los cuatro lados */
    margin: 0;
    text-align: justify;
}

/* Botones Redes sociales*/

.social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.social-buttons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #000;
    margin-right: 10px;
    border-radius: 50%;
    text-align: center;
    color: #F2F2F2;
    font-size: 20px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.social-buttons a:hover {
    background-color: #fff;
    color: #000;
}

.social-buttons a.facebook:hover {
    background-color: #3b5998;
}

.social-buttons a.instagram:hover {
    background-color: #c32aa3;
}

.social-buttons a.whatsapp:hover {
    background-color: #25D366;
}

.social-buttons a.github:hover {
    background-color: #333;
}

.social-buttons a.youtube:hover {
    background-color: #ff0000;
}

.app-name {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    padding: 5px 10px;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
}

.social-buttons a:hover .app-name {
    display: block;
}

/* -------------------------------------------- */

.fig{
    float: right;
  margin-left: 1rem; 
}

main > ol.lis{ 
     /* Define el tipo de lista*/
    list-style: none;
}


/*Acomodar el texto con la imagen*/
.textoallado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt {
    margin-right: 15px;
    
}

.txt>p>a {
    text-decoration: none;
}

/*--------------------------------*/


/*Teclado Encabezado*/
span.encabezado {
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 28.5ch;
    animation: typing 2s steps(29), blink .6s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/*----*/

/*Teclado Bienvenida*/
span.bienvenida {
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 41.1ch;
    animation: typing 2s steps(48), blink .6s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/*----*/


header {
    width: 200px;
    background: #0477BF;
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0;

    gap: 1px;
    font-size: 16px;
    box-sizing: border-box;
    
}
 main.secu{
    padding: 15px;
 }

/* estructura del menu*/

:root {
    --estado-buda: 0.3s;
    --cada-item: 35.5px;
    --cantidad-items: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 16px;
}

nav ul li {
    border-bottom: 1px solid #E1EDFC;
}

nav ul a {
    box-sizing: border-box;
    color: #F2F2F2;
    display: block;
    width: 100%;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
}

/*Este es*/
nav ul ul {
    height: 0px;
    overflow: hidden;
    transition: var(--estado-buda);
}


nav ul li:hover ul {
    height: calc(var(--cantidad-items) * var(--cada-item));
    background:#0477BF;
    background-color: var(--bs-border-color);
}


nav ul ul a {
    background: #7368E8 ;
    color: #F2F2F2;
}

/*-------------------------------------------------------*/


/* Definicion del fondo (imagen)*/
.cubrir {
    height: 400px;
    background-image: url(../Imagenes/Fondo.jpg);
    color: white;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* ------------------------ */




/* Pestañas (tabs) 1 */


:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

/*Fun begins*/
.tab_container {
    width: 90%;
    margin: 0 auto;
    padding-top: 70px;
    position: relative;
}

input, section.tab-content {
    clear: both;
    padding-top: 10px;
    display: none;
}
label {
    font-weight: 700;
    font-size: 18px;
    display: block;
    float: left;
    width: 20%;
    padding: 1.5em;
    color: #121111;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: #f0f0f0;
}
#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3,
#tab4:checked~#content4,
#tab5:checked~#content5 {
    display: block;
    padding: 20px;
    background: #fff;
    color: #0f0d0d;
    border-bottom: 2px solid #f0f0f0;
}
.tab_container .tab-content p,
.tab_container .tab-content h3 {
    -webkit-animation: fadeInScale 0.7s ease-in-out;
    -moz-animation: fadeInScale 0.7s ease-in-out;
    animation: fadeInScale 0.7s ease-in-out;
}
.tab_container > .tab-content > h3 {
    text-align: center;
}
.tab_container [id^="tab"]:checked+label {
    background: #fff;
    box-shadow: inset 0 3px #0CE;
}
.tab_container [id^="tab"]:checked+label .fa {
    color: #0CE;
}
label .fa {
    font-size: 1.3em;
    margin: 0 0.4em 0 0;
}
/*Media query*/
@media only screen and (max-width: 900px) {
    label span {
        display: none;
    }
    .tab_container {
        width: 98%;
    }
}
/*Content Animation*/
@keyframes fadeInScale {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.link {
    text-align: center;
}
/* ----------------------------------------*/

/* pestaña (tabs) 2 */

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

/*Fun begins*/
.tab_c {
    width: 90%;
    margin: 0 auto;
    padding-top: 70px;
    position: relative;
}

input, section.tab-conten {
    clear: both;
    padding-top: 10px;
    display: none;
}
label {
    font-weight: 700;
    font-size: 18px;
    display: block;
    float: left;
    width: 20%;
    padding: 1.5em;
    color: #121111;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: #f0f0f0;
}
#ta1:checked~#conten1,
#ta2:checked~#conten2,
#ta3:checked~#conten3,
#ta4:checked~#conten4,
#ta5:checked~#conten5 {
    display: block;
    padding: 20px;
    background: #fff;
    color: #0f0d0d;
    border-bottom: 2px solid #f0f0f0;
}
.tab_c .tab-conten p,
.tab_c .tab-conten h3 {
    -webkit-animation: fadeInScale 0.7s ease-in-out;
    -moz-animation: fadeInScale 0.7s ease-in-out;
    animation: fadeInScale 0.7s ease-in-out;
}
.tab_c > .tab-conten > h3 {
    text-align: center;
}
.tab_c [id^="ta"]:checked+label {
    background: #fff;
    box-shadow: inset 0 3px #0CE;
}
.tab_c [id^="ta"]:checked+label .fa {
    color: #0CE;
}
label .fa {
    font-size: 1.3em;
    margin: 0 0.4em 0 0;
}
/*Media query*/
@media only screen and (max-width: 900px) {
    label span {
        display: none;
    }
    .tab_c {
        width: 98%;
    }
}
/*Content Animation*/
@keyframes fadeInScale {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.link {
    text-align: center;
}

/* ---------------------------------------*/

/* Contiene todo el formato*/
.container {
    width: 100%;
    max-width: 700px;
    margin: auto;
    margin-top: 0px;

}

.lbl-menu {
    background: #234;

}

.lbl-menu label {
    display: inline-block;
    padding: 20px;
    color: white;
    cursor: pointer;
    transition: all 400ms ease;
}
/* segundo estado*/
.lbl-menu label:hover {
    background: #97a5b2;

}

.content {
    position: relative;
}

/* Maneja la ventaja de información*/
.content div {
    position: absolute;
    line-height: 1.8;
    transition: all 600ms ease;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.90);
    padding: 30px;
    background: white;
    padding-bottom: 40px;
}

#radio1,
#radio2 {
    display: none;
    height: auto;
}

#radio1:checked~.tab1,
#radio2:checked~.tab2 {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    
}

a.raya {
    text-decoration: none;
}

/* ----------------------------- */



/* Acordeon 1 */
section.Acordeon {
    width: auto;
    padding: 40px;
    background: #FCFFF2;
    margin: auto;
    margin-top: 20px;
    display: flex;

    flex-direction: column;
    gap: 20px;
}

summary.prim {
    background: #7F87FF;
    text-transform: uppercase;
    list-style: none;
    color: white;
    padding: 20px;
}

p.tex {
    padding: 10px;
    background: white;
    color: black;
    
}

/* --------------------------------------- */


/* Acordeon 2 */
section.acor {
    width: auto;
    padding: 40px;
    background: #FCFFF2;
    margin: auto;
    margin-top: 20px;
    display: flex;

    flex-direction: column;
    gap: 20px;
}

summary.segundo {
    background: #FF3D34;
    text-transform: uppercase;
    list-style: none;
    color: white;
    padding: 20px;
}

p.text {
    padding: 10px;
    background: white;
    color: black;

}

/* --------------------------------------- */

