/* Reset some default styles */
body {
  margin: 0;
  padding: 0;
}

/* Navbar styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0477BF;
  padding: 15px;
}

.navbar-brand .navbar-item img {
  max-height: 100px; /* Adjust the height as needed */
}

.navbar-menu {
  display: none;
}

.navbar-menu.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-menu.active .navbar-end {
  margin-top: 20px;
}

.navbar-item {
  margin: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

/* Media queries for responsiveness */
@media screen and (min-width: 768px) {
  .navbar-menu {
    display: flex;
    align-items: center;
  }
}





  #todo {
    position: relative;
    top: 40px;
  }
  .video-list {
    display: flex;
    flex-wrap: wrap;
  }

.titu{
  padding: 20px;
}

.video-container {
    flex: 7.5;
    padding-right: 20px;
}

  .playlist {
    flex: 2.5;
  }

  .button-list {
    display: flex;
    flex-direction: column;
  }

  .button-list .button {
    display: block;
    text-align: left;
    margin-bottom: 10.89px;
  }

  .video-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    overflow: hidden;
  }

  .video-aspect-ratio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #video-player {
    width: 100%;
    height: 100%;
  }