.navbar {
    background-color: #0477BF; /* Fondo azul bajito */
    position: fixed; /* Fija en la parte superior */
    top: 0;
    width: 100%;
    height: 10%;
  }
  
  .titu{
    margin: 10px;
    padding: 20px;
  }
.navbar-logo {
      display: flex; /* Permite flexibilidad en la altura */
      align-items: center; /* Centra verticalmente el logo */
}

  .navbar-brand {
    margin-left: 20px; /* Espacio para el logo flotante a la izquierda */
  }

  .navbar-menu {
    justify-content: flex-end; /* Alinea los enlaces a la derecha */
  }
  #todo {
    position: relative;
    top: 20px;
    background-color: #3845DB;
  }
  .video-list {
    display: flex;
    flex-wrap: wrap;
  }

  .video-container {
    flex: 7.5;
    padding-right: 20px;
  }

  .playlist {
    flex: 2.5;
  }

  .button-list {
    display: flex;
    flex-direction: column;
  }

  .button-list .button {
    display: block;
    text-align: left;
    margin-bottom: 10.89px;
  }

  .video-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    overflow: hidden;
  }

  .video-aspect-ratio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #video-player {
    width: 100%;
    height: 100%;
  }