
body{
  background: #F29F05;
}

/* Default styles for the navbar */
.navbar {
  background-color: #3845DB;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-brand {
  margin-left: 20px;
}

.navbar-menu {
  justify-content: flex-end;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  /* Adjust the height of the navbar for smaller screens */
  .navbar {
      height: 8%;
  }

  /* Reduce the left margin for the logo on smaller screens */
  .navbar-brand {
      margin-left: 10px;
  }

  /* Adjust the padding and font size for the navbar items on smaller screens */
  .navbar-item {
      padding: 5px 10px;
      font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  /* Further adjustments for even smaller screens */
  .navbar {
      height: 6%;
  }

  .navbar-brand {
      margin-left: 5px;
  }

  .navbar-item {
      padding: 3px 8px;
      font-size: 12px;
  }
}



  #todo {
    position: relative;
    top: 40px;
  }
  .video-list {
    display: flex;
    flex-wrap: wrap;
  }

.titu{
  padding: 20px;
}

.video-container {
    flex: 7.5;
    padding-right: 20px;
}

  .playlist {
    flex: 2.5;
  }

  .button-list {
    display: flex;
    flex-direction: column;
  }

  .button-list .button {
    display: block;
    text-align: left;
    margin-bottom: 10.89px;
  }

  .video-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    overflow: hidden;
  }

  .video-aspect-ratio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #video-player {
    width: 100%;
    height: 100%;
  }